<a href="https://colab.research.google.com/github/MariiaSamsonova/AIProject/blob/main/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from csv import reader
import pandas as pd
#read csv file
df = pd.read_csv('latestdata.csv', on_bad_lines='skip')
nan = df['sequence_available'].head(1)[0] #nan value

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (1,2,6,7,9,10,12,13,14,15,16,17,18,19,21,22,23,24,25,26,30,32) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [2]:
df.info()                         #Dtype
df.isna().mean().sort_values()    #nan value part

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3923272 entries, 0 to 3923271
Data columns (total 33 columns):
 #   Column                    Dtype
---  ------                    -----
 0   ID                        object
 1   age                       object
 2   sex                       object
 3   city                      object
 4   province                  object
 5   country                   object
 6   latitude                  object
 7   longitude                 object
 8   geo_resolution            object
 9   date_onset_symptoms       object
 10  date_admission_hospital   object
 11  date_confirmation         object
 12  symptoms                  object
 13  lives_in_Wuhan            object
 14  travel_history_dates      object
 15  travel_history_location   object
 16  reported_market_exposure  object
 17  additional_information    object
 18  chronic_disease_binary    object
 19  chronic_disease           object
 20  source                    object
 21  sequence_available        object
 22  outcome                   object
 23  date_death_or_discharge   object
 24  notes_for_discussion      object
 25  location                  object
 26  admin3                    object
 27  admin2                    object
 28  admin1                    object
 29  country_new               object
 30  admin_id                  object
 31  data_moderator_initials   object
 32  travel_history_binary     object
dtypes: object(33)
memory usage: 987.8+ MB

ID                          2.548893e-07
latitude                    4.409585e-05
chronic_disease_binary      4.689963e-05
longitude                   4.868385e-05
geo_resolution              5.454631e-05
country                     5.480120e-05
admin_id                    9.532859e-05
country_new                 1.161250e-02
travel_history_binary       1.679516e-02
date_confirmation           5.503340e-02
province                    1.106854e-01
source                      1.570324e-01
data_moderator_initials     3.143511e-01
city                        3.493120e-01
admin1                      4.339791e-01
admin2                      6.295047e-01
sex                         8.345560e-01
age                         8.358482e-01
outcome                     8.919295e-01
date_onset_symptoms         8.943369e-01
date_admission_hospital     9.448142e-01
admin3                      9.780604e-01
additional_information      9.843977e-01
location                    9.952313e-01
travel_history_location     9.966220e-01
lives_in_Wuhan              9.981814e-01
travel_history_dates        9.990011e-01
symptoms                    9.993714e-01
date_death_or_discharge     9.995134e-01
reported_market_exposure    9.995695e-01
notes_for_discussion        9.998127e-01
chronic_disease             9.999087e-01
sequence_available          9.999750e-01
dtype: float64

**age**

In [3]:
import numpy as np

def convert_age(x):
  try:
    if x[-1] == '+':
      return float(x[:-1])
  except:
    try:
      age = float(str(x))
      if age < 200:
        return age
    except ValueError:
      try:
        age_range = x.split('-')
        return (float(str(age_range[0])) + float(str(age_range[0])))/2
      except:
        return nan
  return nan

df['age'] = df['age'].apply(convert_age)      #do age as type float
df['age'].describe().round(1)

count    52675.0
mean        82.1
std          5.0
min          1.0
25%         80.0
50%         80.0
75%         80.0
max         90.0
Name: age, dtype: float64

**sex**

In [4]:
df = df.loc[df['sex'].isin(['female', 'male', 'mal', nan])]   #delete corrupted data
df['sex'] = df['sex'].replace(to_replace ="mal", value ="male")
df['sex'].value_counts(dropna=False)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

NaN       3274190
female     332330
male       316732
Name: sex, dtype: int64

**city, province, country**

In [5]:
df['city'].describe()

count     2552815
unique       6929
top        Moscow
freq       298934
Name: city, dtype: object

In [6]:
df['province'].describe()

count     3489016
unique       1066
top       Central
freq       413346
Name: province, dtype: object

In [7]:
df['country'].describe()

count     3923048
unique        183
top        Russia
freq       596556
Name: country, dtype: object


**latitude, longitude**

In [8]:
def convert_coordinates(x):
  try:
    return float(x)
  except:
    return nan

df['latitude'] = df['latitude'].apply(convert_coordinates)   # do latitude as type float
df['longitude'] = df['longitude'].apply(convert_coordinates) # do longitude as type float

df['latitude'].describe()

count    3.923061e+06
mean     4.307859e+01
std      3.001346e+01
min     -5.400000e+01
25%      3.959343e+01
50%      4.546589e+01
75%      5.226544e+01
max      5.240600e+04
Name: latitude, dtype: float64

In [9]:
df['longitude'].describe()

count    3.923026e+06
mean     1.556198e+01
std      4.313646e+01
min     -1.597276e+02
25%     -5.769000e-01
50%      9.994373e+00
75%      3.761730e+01
max      1.205100e+04
Name: longitude, dtype: float64

**geo_resolution**

In [10]:
df = df.loc[df['geo_resolution'].isin(['point', 'admin2', 'admin1', 'admin0', 'admin3', nan])]  #drop inappropriate data
df['geo_resolution'].value_counts(dropna=False)

admin2    1412449
point     1282184
admin1     710671
admin0     431630
admin3      85913
NaN           198
Name: geo_resolution, dtype: int64

**dates**

In [29]:
#convent to date type

def convent_to_date_type(x):
  if x != nan:
    try:
      return pd.to_datetime(x, format="%d.%m.%Y")
    except:
      return nan

In [ ]:
df['date_onset_symptoms'] = df['date_onset_symptoms'].apply(convent_to_date_type)
df['date_onset_symptoms'].describe(datetime_is_numeric=True)

In [ ]:
df['date_admission_hospital'] = df['date_admission_hospital'].apply(convent_to_date_type)
df['date_admission_hospital'].describe(datetime_is_numeric=True)

In [ ]:
df['date_confirmation'] = df['date_confirmation'].apply(convent_to_date_type)
df['date_confirmation'].describe(datetime_is_numeric=True)

In [ ]:
df['travel_history_dates'] = df['travel_history_dates'].apply(convent_to_date_type)
df['travel_history_dates'].describe(datetime_is_numeric=True)

In [ ]:
df['date_death_or_discharge'] = df['date_death_or_discharge'].apply(convent_to_date_type)
df['date_death_or_discharge'].describe(datetime_is_numeric=True)

In [ ]:
df['date_moderator_initials'] = df['date_moderator_initials'].apply(convent_to_date_type)
df['date_moderator_initials'].describe(datetime_is_numeric=True)

**symptoms**

In [12]:
df['symptoms'].value_counts(dropna=False)

NaN                                                          3920595
fever                                                            374
Mild to moderate                                                 257
cough, fever                                                     168
Mild:moderate                                                    128
                                                              ...
fever:cough                                                        1
cough:sore throat:colds                                            1
cough:body malaise                                                 1
fever:cough:shortness of breath                                    1
https://www.worldometers.info/coronavirus/country/turkey/          1
Name: symptoms, Length: 481, dtype: int64

**lives_in_Wuhan**

In [14]:
df = df.loc[df['lives_in_Wuhan'].isin(['no', 'yes', 'False', False, 'TR', nan])]  #drop inappropriate data

def convert_lives_in_Wuhan(x):
  if (str(x) == 'yes') | (str(x) == 'TR'):
    return True
  elif (str(x) == 'False') | (bool(x) == False) | (str(x) == 'no'):
    return False
  return nan

df['lives_in_Wuhan'] = df['lives_in_Wuhan'].apply(convert_lives_in_Wuhan) #do as bool type
df['lives_in_Wuhan'].value_counts(dropna=False)

NaN      3915914
False       6402
True         683
Name: lives_in_Wuhan, dtype: int64

**travel_history_location**

In [15]:
df['travel_history_location'].value_counts(dropna=False)

NaN                    3909800
USA                       2034
Spain                     1666
Italy                     1007
Wuhan City, Hubei          948
                        ...
Malawi                       1
Lebanon                      1
Germany; Belgium             1
Cote d'Ivoire; Togo          1
Wales                        1
Name: travel_history_location, Length: 789, dtype: int64

**reported_market_exposure**

In [17]:
df = df.loc[df['reported_market_exposure'].isin(['na', 'no', 'False', False, 'yes', 'TR', nan])]  #drop inappropriate data

def convert_reported_market_exposure(x):
  if (str(x) == 'yes') | (str(x) == 'TR'):
    return True
  elif (str(x) == 'False') | (bool(x) == False) | (str(x) == 'na') | (str(x) == 'no'):
    return False
  return nan

df['reported_market_exposure'] = df['reported_market_exposure'].apply(convert_reported_market_exposure) #do as bool type
df['reported_market_exposure'].value_counts(dropna=False)

NaN      3921343
False       1615
True          10
Name: reported_market_exposure, dtype: int64

**aditional_information**

In [18]:
df['additional_information'].value_counts(dropna=False)

NaN                                3861815
Previous confirmed case contact       1748
Reconciled from MOHFW Table           1098
Travelled from Maharashtra            1076
Back-dated update                     1034
                                    ...
C550467                                  1
C551405                                  1
C551852                                  1
C565143                                  1
C305864                                  1
Name: additional_information, Length: 26724, dtype: int64

**chronic_disease_binary**

In [19]:
def convert_chronic_disease_binary(x):
  if (str(x) == 'True') | (bool(x) == True) | (str(x) == 'TR'):
    return True
  elif (str(x) == 'False') | (bool(x) == False) | (str(x) == 'F') | (str(x) == 'Falue') | (str(x) == 'Flse') | (str(x) == 'Falsue'):
    return False
  return nan

df = df.loc[df['chronic_disease_binary'].isin(['True', 'TR', True, 'F', 'False', False, 'Falue', 'Flse', nan, 'Falsue'])]
df['chronic_disease_binary'] = df['chronic_disease_binary'].apply(convert_chronic_disease_binary) #do bool
df['chronic_disease_binary'].value_counts(dropna=False)

False    2956092
True      966847
Name: chronic_disease_binary, dtype: int64

**chronic_disease**

In [20]:
df['chronic_disease'].value_counts(dropna=False)

NaN                                                                                 3922628
https://coronavirus.dc.gov/page/coronavirus-data                                         96
https://cv.nmhealth.org/2020/03/25/updated-new-mexico-covid-19-cases-now-at-112/         24
hypertension                                                                             21
hypertension:diabetes                                                                    10
                                                                                     ...
Pre-renal azotemia:cardiomyopathy:hypertension:diabetes                                   1
Chronic kidney disease:hypertension                                                       1
diabetes:hypertenstion:upper git bleeding                                                 1
diabetes:hypertension:chronic kidney disease                                              1
https://www.worldometers.info/coronavirus/country/turkey/                                 1
Name: chronic_disease, Length: 101, dtype: int64

**source**

In [21]:
df['source'].value_counts(dropna=False)

NaN                                                                                                                                                              615788
https://raw.githubusercontent.com/datadista/datasets/master/COVID%2019/ccaa_covid19_casos_long.csv                                                               473567
stopcoronavirus.rf                                                                                                                                               396056
https://coronavirus.data.gov.uk/                                                                                                                                 218480
https://www.data.gouv.fr/fr/datasets/donnees-hospitalieres-relatives-a-lepidemie-de-covid-19/#_                                                                  200063
                                                                                                                                                                  ...
https://kannada.asianetnews.com/state/coronavirus-positive-case-founded-at-mysuru-total-rise-to-20-in-karnataka-q7jo5i                                                1
https://www.hindustantimes.com/cities/23-year-old-woman-in-sonepat-tests-positive-for-coronavirus/story-2HQJGTajtXM9tRF42Vp8PJ.html                                   1
https://twitter.com/PTI_News/status/1241377636317708288                                                                                                               1
https://www.indiatoday.in/india/story/novel-coronavirus-covid19-india-live-updates-latest-news-developments-confirmed-positive-cases-1658051-2020-03-21#60619         1
https://public.tableau.com/profile/public.health.w28.0                                                                                                                1
Name: source, Length: 12346, dtype: int64

**sequence_available**

In [22]:
df['sequence_available'].value_counts(dropna=False) #questinable data

NaN                                       3922866
10.03.2020                                      8
United States                                   5
TR                                              5
yes                                             4
Egypt                                           3
6345.0                                          3
yes, BetaCoV/Mexico/CDMX/InDRE_01/2020          3
Germany                                         2
228.0                                           2
12051.0                                         2
Sweden                                          2
7652.0                                          2
577.0                                           2
Mexico                                          2
02.03.2020                                      2
28.02.2020                                      2
544.0                                           1
Lombardia                                       1
Turkey                                          1
413.0                                           1
Nigeria                                         1
Scotland                                        1
False                                           1
Val-de-Marne                                    1
6322.0                                          1
France                                          1
Spain                                           1
2414.0                                          1
8859.0                                          1
12218.0                                         1
Italy                                           1
alse                                            1
India                                           1
Modena                                          1
625.0                                           1
652.0                                           1
438.0                                           1
Emilia-Romagna                                  1
591.0                                           1
ZW                                              1
Name: sequence_available, dtype: int64

**outcome**

In [23]:
def convert_outcome(x):
  if x in ['died', 'death', 'Dead', 'Died', 'dead', 'Death']:
    return 'died'
  return 'did not die'

df['outcome'] = df['outcome'].apply(convert_outcome)  #now it is binary data
df['outcome'].value_counts(dropna=False)

did not die    3921324
died              1615
Name: outcome, dtype: int64

**notes_for_discassion**

In [24]:
df['notes_for_discussion'].value_counts(dropna=False)

NaN                                                                                                     3922217
Could be some cases from 23rd                                                                                91
Ethiopian                                                                                                    68
http://wsjkw.cq.gov.cn/tzgg/20200127/249875.html                                                             64
Known contact; importation=N; transmission_type=Contact; detected_through=Active monitoring                  22
                                                                                                         ...
Contact of 3/17 case; importation=N; transmission_type=Contact; detected_through=Monitored                    1
Contact of 3/11 case; importation=N; transmission_type=Contact; detected_through=Monitored                    1
Contact of first case in Touba; importation=N; transmission_type=Contact; detected_through=Monitored          1
Alert to authorities 3/15; importation=Y; transmission_type=; detected_through=Self-presentation              1
228.0                                                                                                         1
Name: notes_for_discussion, Length: 219, dtype: int64

**location**

In [25]:
df['location'].value_counts(dropna=False)

NaN                    3904256
Jaipur                    4576
Agra                      2023
Chicago                   1952
Gurugram                  1829
                        ...
Zielona Gora                 1
Marzahn-Hellersdorf          1
Chernivtsi                   1
Usti nad Labem               1
ZW                           1
Name: location, Length: 354, dtype: int64

**admin3/2/1**

In [86]:
df['admin3'].value_counts(dropna=False)

NaN                 3836347
Birmingham             3437
Sheffield              2447
Leeds                  1655
Brent                  1471
                     ...
Spain                     1
Uetze                     1
Schuettorf                1
Westoverledingen          1
Hamburg                   1
Name: admin3, Length: 411, dtype: int64

In [87]:
df['admin1'].value_counts(dropna=False)

NaN                             1702282
Central                          401765
England                          156858
Lombardia                        156303
Madrid                           115490
                                 ...
Bratislavsky                          1
Severno-Backi                         1
Santiago Metropolitan Region          1
Osrednjeslovenska                     1
Germany                               1
Name: admin1, Length: 631, dtype: int64

In [88]:

df['admin2'].value_counts(dropna=False)

NaN                                 2469200
Moscow                               298916
Moscow Oblast                         58329
Milano                                46244
Torino                                31365
                                     ...
Calw District                             1
Sachsische Schweiz-Osterzgebirge          1
Saale-Orla District                       1
Bad Durkheim                              1
Auvergne-Rhone-Alpes                      1
Name: admin2, Length: 2098, dtype: int64

**country_new**

In [89]:
df['country_new'].value_counts(dropna=False)

Russia           596536
Spain            504904
Italy            461330
India            413755
Germany          365346
                  ...
11925.0               1
8227.0                1
Liechtenstein         1
Indpain               1
Spagdom               1
Name: country_new, Length: 165, dtype: int64

admin_id

In [26]:
def convert_admin_id(x):
  try:
    return float(x)
  except:
    return nan

df['admin_id'] = df['admin_id'].apply(convert_admin_id) #do as float type
df['admin_id'].describe()

count    3.922706e+06
mean     6.086270e+03
std      4.609683e+03
min      2.000000e+00
25%      6.640000e+02
50%      6.345000e+03
75%      1.096600e+04
max      1.621100e+04
Name: admin_id, dtype: float64

**traval_history_binary**

In [27]:
def convert_travel_history_binary(x):
  if (str(x) == 'True') | (bool(x) == True):
    return True
  elif (str(x) == 'False') | (bool(x) == False) | (str(x) == 'Faalse'):
    return False
  return nan

df['travel_history_binary'] = df['travel_history_binary'].apply(convert_travel_history_binary) # do as bool type
df['travel_history_binary'].value_counts(dropna=False)

False    3791558
True      131381
Name: travel_history_binary, dtype: int64

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3922939 entries, 0 to 3923271
Data columns (total 33 columns):
 #   Column                    Dtype
---  ------                    -----
 0   ID                        object
 1   age                       float64
 2   sex                       object
 3   city                      object
 4   province                  object
 5   country                   object
 6   latitude                  float64
 7   longitude                 float64
 8   geo_resolution            object
 9   date_onset_symptoms       object
 10  date_admission_hospital   object
 11  date_confirmation         object
 12  symptoms                  object
 13  lives_in_Wuhan            object
 14  travel_history_dates      object
 15  travel_history_location   object
 16  reported_market_exposure  object
 17  additional_information    object
 18  chronic_disease_binary    bool
 19  chronic_disease           object
 20  source                    object
 21  sequence_available        object
 22  outcome                   object
 23  date_death_or_discharge   object
 24  notes_for_discussion      object
 25  location                  object
 26  admin3                    object
 27  admin2                    object
 28  admin1                    object
 29  country_new               object
 30  admin_id                  float64
 31  data_moderator_initials   object
 32  travel_history_binary     bool
dtypes: bool(2), float64(4), object(27)
memory usage: 965.2+ MB